/* スクロール */
.overflow-hidden {
    overflow: hidden;
}

/* 背景 */
.bg-blue {
    background: rgb(142, 197, 244);
}

/* ボタン */
.btn-size {
	width: 100px;
	height: 100px;
    font-size: 2em;
}

/* 画像サイズ */
.picture-size {
    width: 90%;
    height: auto;
}

/* チャンネル説明 */
.font-bold {
    font-weight: bold;
}

/* アニメーション */
.deplete-animation{
    animation: deplete 1s linear forwards;
}

.expand-animation{
    animation: deplete 1s linear reverse forwards;
}

@keyframes    deplete {
    0%{
        width: 100%;
        opacity: 1;
    }
    100%{
        width: 0%;
        opacity: 0;
    } 
}